{% load static %}

{% if user.is_authenticated %}
<div class="custombox clearfix">
    <h4 class="small-title">Yorum yap</h4>
    <div class="row">
        <div class="col-lg-12">
            {% if messages  %}
                {% for message in messages %}
                    {{message}}
                
                {% endfor %}
            
            
            {% endif %}
            <hr class="invis">
            <form class="form-wrapper" method="POST">
                {% csrf_token %}
                {{form.comment}}
                {{form.captcha}}
                <br>
                
                <button type="submit" class="btn btn-primary">Gönder</button>
            </form>
        </div>
    </div>
</div>
{% else %}
<p>Mesaj göndermek için giriş yapınız 
    <a href="{% url 'login'  %}" style="color:red;
">Giriş yap</a></p>
{% endif %}
    
{% include 'partialsDetails/_articlemainImage.html' %}